
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Dela+Gothic+One&family=Encode+Sans+Semi+Expanded:wght@600&family=Julius+Sans+One&family=Newsreader:opsz,wght@6..72,400;6..72,500;6..72,600&family=Poppins:ital,wght@0,200;0,300;1,200&family=Quattrocento&family=Quicksand:wght@300&display=swap');
* {
    scroll-behavior: smooth;
}

body {
     background: #fff;
     margin: 0;
     height: 190vh;
     /* Make sure the body takes up the full height of the viewport */
    background-image: url(../images/bg-bulat.png);
    background-size: cover;   
    background-repeat: no-repeat;

 }

.logo img {
    height: 50px;
    width: 80px;
    border-right: 2px solid black;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 65px;
    flex-direction: row;
    text-decoration: none;
    margin-right: auto;
}

ul li a {
    text-decoration: none;
    color: rgb(13, 13, 13);
}

.navbar {
    display: flex;    
    border-bottom:2px solid black;
    font-family: Poppins;
    font-weight: 800;
    justify-content: space-between;
    align-items: center;
}



.home {
    border-right: 2px solid black;
    padding-top: 18px;
    padding-right: 50px;
    padding-left: 20px;
    height: 30px;
    margin-top: 1px ;
}

.populer {
    border-right: 2px solid black;
    padding-top: 18px;
    padding-right: 50px;
    height: 30px;
        margin-top: 1px;
    padding-left: -90px ;
}

.categori {
    border-right:2px solid black;
    padding-top: 18px;
    padding-right: 50px;
    height: 30px;
    margin-top: 1px;
    padding-left: -90px;
}

.login {
    
    margin-left: 990px;
    gap: 20px;
    color: black;
    padding-right: 29px;
}

.login a {
    text-decoration: none;
    color: black;
}

.satu {
    padding-right: 20px;
}
.dua {
    background-color: #C1DAFF;
    padding: 10px;
    border-radius: 25px;
    border: 3px solid black ;
    padding-right: 15px;
    padding-left: 15px;
}

.right {
    padding-top: 9px;
}
.regist {
    
    background-color: #C1DAFF;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

.seksion2{
    padding: 0 9%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.description {
    display: flex;
    align-items: center;
}

img {
    padding-top: 40px;
    height: 270px;
}

.best {
    font-family: 'Aoboshi One';
}

.description {
    font-family: 'Dela Gothic One';
    font-size: 90px;
    height: 180px;
    padding-top: 30px;
    flex: 1 1 42rem;
}

.teks1 {
    line-height: 10px;
}
.teks2 {
    line-height: 10px;
}

.panah {
    padding-top: 80px;
    width: 550px;
    height: 50px;
}

.seksion2 .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.seksion2 .row .kontent {
    flex: 1 1 42rem;
}

.seksion2 .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.seksion2 .row .books-slider a img {
    height: 25rem;
}

.seksion2 .row .books-slider a:hover img {
    transform: scale(.9);
}

/* .seksion2 .row .books-slider .stand { */
    /* width: 20%; */
    /* margin-top: 25rem;
} */

.stand {
    /* width: 20%; */
    margin-top: -7rem !important;
}

.row .book-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 6rem;
}

.row .book-slider a:hover img {
    transform: scale(.9);
}


.kotak_kategori{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.imgk{
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgk img {
    border-radius: 9px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    padding-top: 9px;
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 95px;
    padding: 40px 30px;
}

.imgk p{
    font-family: 'Quicksand';
    font-size: 22px;
}

.seksion3{
    margin-top: 3rem;
}

.seksion4 .lorem {
    font-family: 'Quicksand';
    font-size: 20px;
    margin-top: 12rem;
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.seksion5 {
height: 60vh;
}

.recomendation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.imgkk {
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgkk img {
    
    width: 310px;
    height: 295px;
    margin-top: 30rem;
   
}

.imgkk p {
    font-family: 'Quicksand';
    font-size: 22px;
}

.imgkk .filo {
    margin-top: 30rem;
    width: 200px;
}

.imgkk .lor{
font-size: 18px;
}


.seksion6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supanova {
    width: 90rem;
    background: linear-gradient(to right, #E4F2FF, #FFFFFF);
    border: 1px solid #D1D6FF;
    border-radius: 7px;
    box-shadow:0px 3px 10px rgba(0, 0, 0, 0.5) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.quotes img {
    width: 33rem;
    height: 46rem;
    position: relative;
    top: 35px;
}

.quote_tx p {
    font-family: 'Quattrocento';
    font-size: 30px;
        padding-right: 90px;

}

.btn {
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Quicksand';
    border: 1px solid rgb(167, 167, 167) ;
    color: black;
    background-color: #EDEDED;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.seksion7 {
    height: 110vh;
    background-size: cover;
    background-image: url(../images/POPULAR\ \(1\).jpg);
}

.popular {
    padding-top: 210px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    font-size: 25px;
}

.popular p {
    font-size: 20px;
    padding-top: 20px;
}


.tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
}

.tranding-slide .tranding-slide-img img {
    width: 28rem;
    height: 36rem;
    border-radius: 2rem;
}

.hi-slide {
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.h1-slide .hi-next:hover,
.h1-slide .hi-prev:hover {
    opacity: 10;
    background-color: white;
}

.h1-slide .hi-prev {
    left: 60px;
}

.hi-slide .hi-prev::before{
    content: '<';
}

.hi-slide .hi-next{
    right: -60px;
}

.hi-slide .hi-next::before{
    content: '>';
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}


.hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    /* border: 3px solid white; */
    cursor: pointer;
    /* background-color: #333; */
}


.hi-slide > ul > li > img {
    width: 130%;
    height: 98%;
    background-position: center;
}

/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a::after {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:: {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

.tittle {
    text-align: center;
    font-size: 3em;
    font-family: 'Quicksand';
    margin: 1em;
}

.faq-section {
    padding: 4em 2em;
}

.faq {
    gap: 8px;
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.faq  li {
    background: #E9F6FF;
    border: 1px solid #ccc   ;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0px 2px 4px rgba(162, 162, 162, 0.5);
}

.faq li:first-child {
    border-top: 1px solid #ccc; 
}

.q {
    padding: 1em 0 ;
    border-left: 10px solid #d4d4d4; 
    cursor: pointer;
}

.q:hover,
.q:hover .arrow {
    border-left-color: #5391ed ;
}

.arrow {
    display: inline-block;
    margin: 0 0.5rem;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid #555 ;
    border-bottom: 6px solid transparent;
    transition: 0.3s;
}

.faq p {
    color: #888;
    line-height: 25px;
}

.a {
    overflow: hidden;
    height: 0;    
    padding :0 1em 0 3.3em  ;
}

.a-opened {
    padding: 1em 1em 2em 3.3em;
    height: initial;
} 

.arrow-rotated {
    transform: rotate(90deg);
}

.bufuter {
    /* margin: 0; */
    display: flex;
    justify-content: end;
}


.bufuter img{
    width: 300px;
    height: 100px;
 }


.real-foot {
    background-color: rgba(1, 1, 1, 0.861);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    padding-bottom: 35px;
    padding-top: 0px;
    border-bottom: 2px solid rgb(134, 134, 134);
}



.real-foot img{
    width: 280px;
    height: 65px;
    padding-left:100px ;
}


.thank {

    background-color: rgba(1, 1, 1, 0.861);
}

.thank p {
    /* padding: 15px; */
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #EDEDED;
        margin: 0;
}

.thank img {
    width: 20px;
    height:20px ;
}

.more {
    display: flex;
    justify-content: center;
        align-items: center;
        gap: 15px;
}

.copy-right {
    background-color: black ;
    padding: 10px;
}

.re {
    padding: 12px;
}